PORT=3007
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Integraciones mock (opcionales en E2)
G5_ORDER_SERVICE_URL=http://localhost:3004
G9_NOTIFICATION_SERVICE_URL=http://localhost:3008